<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- header inner -->
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="index.html"
                      ><img src="<%= process.env.URL%>/images/logo.png" alt="#"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu">
                    <ul class="menu-area-main">
                      <li class="active"><a href="/">Home</a></li>
                      <li><a href="<%= process.env.URL%>/about">About us</a></li>
                      <li><a href="<%= process.env.URL%>/books">Our Books</a></li>
                      <li><a href="<%= process.env.URL%>/library">library</a></li>
                      <li><a href="<%= process.env.URL%>/contact">Contact us</a></li>
                      <li class="mean-last">
                        <a href="#"
                          ><i class="fa-solid fa-magnifying-glass"></i
                        ></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="navbarDropdown"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                           <i class="fa-solid fa-user"></i>
                        </a>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="navbarDropdown"
                        >
                          <% if(typeof user !== 'undefined') { %>
                            <li><p>Hello, <%= user.firstname %>!</p></li>
                          <% }else{%>
                            <li><a class="dropdown-item" href="<%= process.env.URL%>/user/login">Login</a></li>
                          <%}%>
                          <li>
                            <a class="dropdown-item" href="<%= process.env.URL%>/user/register">register</a>
                          </li>
                          <li><hr class="dropdown-divider" /></li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Something else here</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end header inner -->
    </header>
  </body>
</html>
