<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Filter Page</title>

  <!--- google font link-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="<%= process.env.URL%>/css/style.css" />
  <link rel="stylesheet" href="<%= process.env.URL%>/css/book-filter.css" />
  <!-- Fontawesome Link for Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
    <% 
      let booksOnSale = [];
      for(var i=5; i < 11; i++){
          booksOnSale.push(allBook[i]);
      }
    %>
<body>
  <%- include("../partials/header") -%>
  
  <div class="breadcrumb-container">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="http://localhost:8000/book/book-filter">Books</a></li>
    </ul>
  </div>

  <section class="filter">
    <div class="book-grid-container">
      <div class="book-collections">
        <h4>Books</h4>
        <div class="search-container">
          <div style="display: flex; align-items: center; justify-content: flex-start;">
            <form action="/book/search" method="GET" style="display: flex; align-items: center;">
              <input type="text" placeholder="Search books..." name="key" style="margin-right: 15px;">
              <button type="submit" style="height: 100%;"><i class="fa fa-search"></i></button>
            </form>
            <form action="/book/category" method="GET" style="display: flex; align-items: center; margin-left: 100px;">
              <select style="width: 150px; height: 40px; font: 1em sans-serif;" name="categoryId">
                <option value="">Tất Cả Sách</option>
                <% categories.forEach(category => { %>
                  <option value="<%= category._id %>" 
                          <% if (category._id.toString() === categoryId.toString()) { %> selected <% } %> >
                    <%= category.name %>
                  </option>
                <% }); %>
              </select>
              
              <button type="submit" style="height: 40px; margin-left: 20px;">Lọc</i></button>
            </form>
          </div>
          
        </div>
        <div class="category">
          <div class="category-list">
            <button>Today</button>
            <button>This Week</button>
            <button>This Month</button>
          </div>
        </div>
        <div class="books">
          <% books.forEach(function(book) { %>
            <div class="book-card">
              <div class="img">
                <a href="book-detail/<%= book._id %>">
                  <img src="<%= book.image %>" alt="<%= book.name %>" />
                </a>
              </div>
              <h5><%= book.name %></h5>
              <div class="star-rating">
                <% for (let i=0; i < book.stars; i++) { %>
                  <i class="fa-solid fa-star"></i>
                <% } %>
              </div>
            </div>
          <% }); %>
        </div>
        <div class="footer">
          <div class="data-shown">
            <p>Showing <%= books.length %> from <%= totalBooks %> books</p>
          </div>
          <div class="pagination">
            <button <% if (currentPage <= 1) { %>disabled<% } %>>
                <a href="?<%= categoryId ? 'categoryId=' + categoryId + '&' : '' %><%= key ? 'key=' + key + '&' : '' %>page=<%= currentPage - 1 %>&limit=<%= limit %>">
                    <i class="fa fa-chevron-left"></i> Previous
                </a>
            </button>
            <div class="number">
              <% let numPagesToShow = 10; %>
              <% let startPage = Math.max(1, currentPage - Math.floor(numPagesToShow / 2)); %>
              <% let endPage = Math.min(totalPages, startPage + numPagesToShow - 1); %>
          
              <% if (startPage > 1) { %>
                  <a href="?<%= categoryId ? 'categoryId=' + categoryId + '&' : '' %><%= key ? 'key=' + key + '&' : '' %>page=1&limit=<%= limit %>"
                     style="<%= currentPage === 1 ? 'background-color: #007bff; color: white; padding: 5px 10px; border-radius: 5px; margin-right: 5px;' : 'margin-right: 5px;' %>">
                      1
                  </a>
                  <% if (startPage > 2) { %>
                      <span>...</span>
                  <% } %>
              <% } %>
          
              <% for (let i = startPage; i <= endPage; i++) { %>
                  <a href="?<%= categoryId ? 'categoryId=' + categoryId + '&' : '' %><%= key ? 'key=' + key + '&' : '' %>page=<%= i %>&limit=<%= limit %>"
                     class="<%= i === currentPage ? 'active' : '' %>"
                     style="<%= i === currentPage ? 'background-color: #6c5dd4; color: white; padding: 5px 10px; border-radius: 5px; margin-right: 5px;' : 'margin-right: 5px;' %>">
                      <%= i %>
                  </a>
              <% } %>
          
              <% if (endPage < totalPages) { %>
                  <% if (endPage < totalPages - 1) { %>
                      <span>...</span>
                  <% } %>
                  <a href="?<%= categoryId ? 'categoryId=' + categoryId + '&' : '' %><%= key ? 'key=' + key + '&' : '' %>page=<%= totalPages %>&limit=<%= limit %>"
                     style="<%= currentPage === totalPages ? 'background-color: #007bff; color: white; padding: 5px 10px; border-radius: 5px; margin-right: 5px;' : 'margin-right: 5px;' %>">
                      <%= totalPages %>
                  </a>
              <% } %>
          </div>
          
            <button <% if (currentPage >= totalPages) { %>disabled<% } %>>
                <a href="?<%= categoryId  ? 'categoryId=' + categoryId + '&' : '' %><%= key ? 'key=' + key + '&' : '' %>page=<%= currentPage + 1 %>&limit=<%= limit %>">
                    Next <i class="fa fa-chevron-right"></i>
                </a>
            </button>
        </div>
        
        </div>
        
      </div>
    </div>
  </section>

  <section class="book-sale">
    <div class="heading">
      <h1 style="margin-left: 180px;">Books On Sale</h1>
      <div style="margin-right: 180px;" class="arrowbtn">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="book-container">
      <div class="wrapper">
        <ul class="carousel">
          <% for (let i = 0; i < booksOnSale.length; i++) { %>
            <li class="card">
              <div class="img">
                <a href="/book/book-detail/<%= booksOnSale[i]._id %>">
                  <img src="<%= booksOnSale[i].image %>" alt="" />
                </a>
                <span class="badge">50%</span>
              </div>
              <h5 style="font-size: 16px; font-weight: bold; margin: 10px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; display: block;">
                <%= booksOnSale[i].name %>
              </h5>

              <div class="footer" style="font-size: 14px; color: #555;">
                <span class="star"><i class="fa fa-star"></i> <%= booksOnSale[i].stars %></span>
                <div class="price">
                  <span style="margin-right: 5px;">$<%= booksOnSale[i].price.toFixed(2) %></span>
                  <span><strike style="color: #999;">$<%= (booksOnSale[i].price * 2).toFixed(2) %></strike></span>
                </div>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </section>

  <section class="service">
    <div class="service-container">
      <div class="service-card">
        <div class="icon">
          <i class="fa-solid fa-bolt-lightning"></i>
        </div>
        <div class="service-content">
          <h5>Quick Delivery</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
            exercitationem.
          </p>
        </div>
      </div>
      <div class="service-card">
        <div class="icon">
          <i class="fa-solid fa-shield"></i>
        </div>
        <div class="service-content">
          <h5>Secure Payment</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
            exercitationem.
          </p>
        </div>
      </div>
      <div class="service-card">
        <div class="icon">
          <i class="fa-solid fa-thumbs-up"></i>
        </div>
        <div class="service-content">
          <h5>Best Quality</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
            exercitationem.
          </p>
        </div>
      </div>
      <div class="service-card">
        <div class="icon">
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="service-content">
          <h5>Return Guarantee</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
            exercitationem.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="subscription">
    <div class="container">
      <h4>Subscribe our newsletter for Latest <br> books updates</h4>
      <div class="input">
        <input type="text" placeholder="Type your email here">
        <button>subscribe</button>
      </div>
    </div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
  </section>
  
    <%- include("../partials/footer") -%>
    <%- include("../components/backToTop") -%>
    <script>
      let filterdiv = document.querySelector(".filter-option");
      let iconbtn = document.querySelector(".rightbtn");

      iconbtn.addEventListener("click", () => {
        filterdiv.classList.toggle("active-div");
        iconbtn.classList.toggle("active-btn");
      })

      let editorpick = document.getElementsByClassName("select-box");
      let icon = document.querySelectorAll(".select-box .opt-title i");
      let answer = document.querySelectorAll(".select-box .option");
      for (let i = 0; i < editorpick.length; i++) {
        editorpick[i].addEventListener("click", () => {
          if (icon[i].classList.contains("active")) {
            icon[i].classList.remove("active");
            answer[i].style.maxHeight = null;
            answer[i].style.marginTop = "0rem";
            answer[i].style.padding = "0px";
          } else {
            icon[i].classList.add("active");
            answer[i].style.maxHeight = answer[i].scrollHeight + "px";
            answer[i].style.padding = "0px 20px 20px 20px";
          }
        });
      }

      let selectdate = document.querySelector(".select-date .opt-title");
      let downarrow = document.querySelector(".select-date .opt-title i");
      let option = document.querySelector(".select-date .option");
      selectdate.addEventListener("click", () => {
        if (downarrow.classList.contains("active")) {
          downarrow.classList.remove("active");
          option.style.display = "none";
          option.style.padding = "0px";
        } else {
          downarrow.classList.add("active");
          option.style.display = "block";
          option.style.maxHeight = option.scrollHeight + "px";
          option.style.padding = "0px 20px 20px 20px";
        }
      })

      let likebtn = document.getElementsByClassName("like");
      for (let i = 0; i < likebtn.length; i++) {
        likebtn[i].addEventListener("click", () => {
          likebtn[i].classList.toggle("liked");
        });
      }

      const rangeInput = document.querySelectorAll(".range-input input"),
        priceInput = document.querySelectorAll(".price-input input"),
        range = document.querySelector(".slider .progress");
      let priceGap = 1000;

      priceInput.forEach(input => {
        input.addEventListener("input", e => {
          let minPrice = parseInt(priceInput[0].value),
            maxPrice = parseInt(priceInput[1].value);

          if ((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max) {
            if (e.target.className === "input-min") {
              rangeInput[0].value = minPrice;
              range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
            } else {
              rangeInput[1].value = maxPrice;
              range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
            }
          }
        });
      });

      rangeInput.forEach(input => {
        input.addEventListener("input", e => {
          let minVal = parseInt(rangeInput[0].value),
            maxVal = parseInt(rangeInput[1].value);

          if ((maxVal - minVal) < priceGap) {
            if (e.target.className === "range-min") {
              rangeInput[0].value = maxVal - priceGap
            } else {
              rangeInput[1].value = minVal + priceGap;
            }
          } else {
            priceInput[0].value = minVal;
            priceInput[1].value = maxVal;
            range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
            range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
          }
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="../js/repeat-js.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="<%= process.env.URL %>/js/book-filter.js"></script>
    <script src="<%= process.env.URL%>/js/back-to-top.js"></script>

  </body>
  
  </html>
  