<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookoe - Online Book Store website</title>
    <link rel="stylesheet" href="<%= process.env.URL%>/css/style.css" />
    <link rel="stylesheet" href="<%= process.env.URL%>/css/book-filter.css" />
    <!-- Fontawesome Link for Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!--- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../partials/header") -%>
    <div class="breadcrumb-container">
      <ul class="breadcrumb">
        <li><a href="<%= process.env.URL%>" style="color: #6c5dd4">Home</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <section class="contact">
      <h3>Contact Us</h3>
      <div class="main">
        <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6310.594819201665!2d-122.42768319999999!3d37.73616639999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e60a337d5f5%3A0xfa0bb626904e5ab2!2z4KSV4KWJ4KSy4KWH4KScIOCkueCkv-Cksiwg4KS44KS-4KSoIOCkq-CljeCksOCkvuCkguCkuOCkv-CkuOCljeCkleCliywg4KSV4KWI4KSy4KWA4KSr4KWL4KSw4KWN4KSo4KS_4KSv4KS-LCDgpK_gpYLgpKjgpL7gpIfgpJ_gpYfgpKEg4KS44KWN4KSf4KWH4KSf4KWN4oCN4KS4!5e0!3m2!1shi!2sin!4v1686917463994!5m2!1shi!2sin"
              height="70"
              style="width: 100%; border: none; border-radius: 5px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>
        <div class="contact-form">
          <h4>Contact Us</h4>
          <p>Get in touch with us</p>
          <div class="input-form">
            <div class="input-field">
              <label for="name">Full Name *</label>
              <input type="text" name="" id="name" placeholder="Full Name" />
            </div>
            <div class="input-field">
              <label for="email">E-mail *</label>
              <input type="email" name="" id="email" placeholder="Email Address" />
            </div>
            <div class="input-field">
              <label for="phone">Phone No. *</label>
              <input type="text" name="" id="phone" placeholder="Phone Number" />
            </div>
            <div class="message">
                <label for="message">Message *</label>
                <textarea placeholder="Message" id="message"></textarea>
            </div>
            <button>submit</button>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") -%>

    <%- include("../components/backToTop") -%>

  </body>
</html>
