<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookoe - Online Book Store website</title>
    <link rel="stylesheet" href="<%= process.env.URL%>/css/style.css" />
    <link rel="stylesheet" href="<%= process.env.URL%>/css/book-filter.css" />
    <!-- Fontawesome Link for Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!--- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <% if (typeof message !=='undefined' ) { %>
      <script>
        alert('message: <%= message %>');
      </script>
    <% } %>
    <div class="breadcrumb-container">
      <ul class="breadcrumb">
        <li><a href="<%= process.env.URL%>" style="color: #6c5dd4">Home</a></li>
        <li><a href="#">infoAccount</a></li>
      </ul>
    </div>
    <%
    if(user!=='undefined') {%>
      <section class="registration">
        <h3>infomation account</h3>
        <h5 style="color : red" id="error"></h5>
        <form action="<%= process.env.URL%>/user/updateUser?_method=put" method="post" style="display: inline;" class="registration-form">
          <div class="input-form">
            <div class="input-field">
              <label for="firstname">firstname *</label>
              <input type="firstname" name="firstname" id="firstname" placeholder="Your firstname" value="<%=user.firstname%>">
            </div>
            <div class="input-field">
              <label for="lastname">lastname *</label>
              <input type="lastname" name="lastname" id="lastname" placeholder="Your lastname" value="<%=user.lastname%>">
            </div>
            <div class="input-field">
              <label for="email">Email *</label>
              <input type="email" name="email" id="email" placeholder="Your Email" value="<%=user.email%>" onkeyup="checkEmail()">
            </div>
            <div class="input-field">
              <label for="mobile">mobile *</label>
              <input type="mobile" name="mobile" id="mobile" placeholder="Your mobile" value="<%=user.mobile%>" onkeyup="checkPhone()">
            </div>
            <button>update</button>
          </div>
        </form>
      </section>
    <%}%>
  </body>
  <script>
        function checkEmail() {
            var email = document.getElementById('email').value;
            var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            
            if (regex.test(email)) {
                document.getElementById('email').style.border = '2px solid green';
                document.getElementById('error').textContent = ''; 
                return true;
            } else {
                document.getElementById('email').style.border = '2px solid red';
                document.getElementById('error').textContent = 'Email không hợp lệ. Vui lòng nhập lại.';
                return false;
            }
        }
        function checkPhone() {
            var mobile = document.getElementById('mobile').value;
            var regex = /^[0-9]{9,12}$/; 
            
            if (regex.test(mobile)) {
                document.getElementById('mobile').style.border = '2px solid green';
                document.getElementById('error').textContent = ''; 
                return true;
            } else {
                document.getElementById('mobile').style.border = '2px solid red';
                document.getElementById('error').textContent = 'mobile không hợp lệ';
                return false;
            }
        }
  </script>
</html>
