<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookoe - Online Book Store website</title>
    <link rel="stylesheet" href="<%= process.env.URL%>/css/style.css" />
    <link rel="stylesheet" href="<%= process.env.URL%>/css/book-filter.css" />
    <!-- Fontawesome Link for Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!--- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <div class="breadcrumb-container">
      <ul class="breadcrumb">
        <li><a href="<%= process.env.URL%>" style="color: #6c5dd4">Home</a></li>
        <li><a href="#">Registration</a></li>
      </ul>
    </div>

    <% if(typeof responeMessage == 'object'){%>
      <script>
        alert("<%= responeMessage.message%>")
      </script>
    <%}%>
    <section class="registration">
      <h3>Registration</h3>
      <div class="registration-form">
        <h4>Create New Account</h4>
        <p>If you don't have an account with us, Please Create new account.</p>
        <h5 style="color : red" id="error"></h5>
        <form class="form" autocomplete="off" action="/user/register" method="post">
          <div class="input-form">
            <div class="input-field">
              <label for="name">firstname *</label>
              <input
                type="text"
                name="firstname"
                id="firstname"
                placeholder="firstname"
                class="form-input"
                required
                value="<%= typeof responeMessage == 'object' ? responeMessage?.user?.firstname : '' %>"
              />
            </div>
            <div class="input-field">
              <label for="name">lastname *</label>
              <input
                type="text"
                name="lastname"
                id="lastname"
                placeholder="lastname"
                class="form-input"
                required
                value="<%= typeof responeMessage == 'object' ? responeMessage?.user?.lastname : '' %>"
              />
            </div>
            <div class="input-field">
              <label for="password">Password *</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="password"
                class="form-input"
                onkeyup="checkPassword()"
                required
              />
            </div>
            <div class="input-field">
              <label for="email">Email *</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                class="form-input"
                onkeyup="checkEmail()"
                required
                value="<%= typeof responeMessage == 'object' ? responeMessage?.user?.email : '' %>"
              />
            </div>
            <div class="input-field">
              <label for="mobile">mobile *</label>
              <input
                type="text"
                name="mobile"
                id="mobile"
                placeholder="mobile"
                class="form-input"
                onkeyup="checkPhone()"
                required
                value="<%= typeof responeMessage == 'object' ? responeMessage?.user?.mobile : '' %>"
              />
            </div>
            <!-- <input type="hidden" name="role" value="65f9145d3a4d4b70e60b67db"> -->
            <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="">privacy policy</a></p>
            <button id="btn-submit" onclick="login()">Create Account</button>
            <p>Already Have an Account ? <a href="<%= process.env.URL%>/login">Login Now</a></p>
          </div>
        </form>
      </div>
    </section>

    <%- include("../partials/footer") -%>
    <%- include("../components/backToTop") -%>
  </body>

  <script>
        function checkEmail() {
            var email = document.getElementById('email').value;
            var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            
            if (regex.test(email)) {
                document.getElementById('email').style.border = '2px solid green';
                document.getElementById('error').textContent = ''; 
                return true;
            } else {
                document.getElementById('email').style.border = '2px solid red';
                document.getElementById('error').textContent = 'Email không hợp lệ. Vui lòng nhập lại.';
                return false;
            }
        }

        function checkPassword() {
            var password = document.getElementById('password').value;
            var regex = /^.{6,}$/; 
            
            if (regex.test(password)) {
                document.getElementById('password').style.border = '2px solid green';
                document.getElementById('error').textContent = ''; 
                return true;
            } else {
                document.getElementById('password').style.border = '2px solid red';
                document.getElementById('error').textContent = 'password tối thiểu 6 kí tự';
                return false;
            }
        }
        
        function checkPhone() {
            var mobile = document.getElementById('mobile').value;
            var regex = /^[0-9]{9,12}$/; 
            
            if (regex.test(mobile)) {
                document.getElementById('mobile').style.border = '2px solid green';
                document.getElementById('error').textContent = ''; 
                return true;
            } else {
                document.getElementById('mobile').style.border = '2px solid red';
                document.getElementById('error').textContent = 'mobile không hợp lệ';
                return false;
            }
        }
        function login(){
          const form = document.getElementsByTagName("form")
          if(checkEmail() && checkPassword() && checkPhone()){
            form.submit();
          }else{
            alert("missing input")
          }
        }
  </script>
</html>
